/diagnose.result
/cache

# Ignore Python cache files
__pycache__/
*.py[cod]

/dots/.config/quickshell/ii/.qmlls.ini

# exp-update
/.update-lock

# custom os-release
/os-release

# Emacs auto backup file
*~
/.env
/dots/.config/quickshell/ii/scripts/ytmusic/generate-ytmusic-theme.sh
/dots/.config/quickshell/ii/scripts/email/test_gmail.qml
/dots/.config/quickshell/ii/scripts/sync_to_vynx.sh
/dots/.config/quickshell/ii/assets/images/devices/device_68_7D_6B_94_0B_C2.png
/dots/.config/quickshell/ii/.agents
/dots/.config/quickshell/ii/.graphifyignore
/dots/.config/quickshell/ii/graphify-out
/dots/.config/quickshell/ii/GEMINI.md.old
/dots/.config/quickshell/ii/.claude
